.DS_Store
__pycache__/
Data/
.ipynb_checkpoints/
weights/
pretrain/
data/
LFM-1b/
model_last-fm_epoch=300/
model/
result_1114/
attention_score/
attention_path/
each_user_result/
users/
model_1118/
freebase/